@inject MyWay.Data.Repository.IRepository repository;

@page "/tours"

<div class="container-fluid pb-3">	
	<ListTours Tours="tours"/>
	@* <div class="row">
	<div class="col">
	<input class="form-control" placeholder="Sometime text" @bind = "newStr"/>
	</div>
	<div class="col">
	<button class="btn btn-success" @onclick = "AddTour">Click</button>
	</div>
	</div> *@
</div>

@code {
	private IEnumerable<Tour> tours = new List<Tour>();

	protected override void OnInitialized()
	{
		tours = repository.GetAllTours();
	}	
}
