@inject MyWay.Data.Repository.IRepository repository;
<h2 class="text-center">Туры ( @Tours.Count() )</h2>
<div class="row">
	@if (Tours == null)
	{
		<p>Загрузка....</p>
	}
	else
	{
		@foreach (var item in Tours)
		{
			<OneTour Tour="item" DeleteTour="DeleteTour"/>
		}
	}	
</div>

@code {
	[Parameter] public List<Tour> Tours { get; set; }

	
	public void DeleteTour(Tour tour)
	{
		repository.DeleteTour(tour.Id);
	}

}
